//colors
$light_gray: #e3e2df;
$black: #000;
$blue: #008cff;
$white: #ffffff;
$color_scarpa_flow_approx: #5d5b66;

//fonts
$font_0: Open Sans;
$font_1: sans-serif;
$font_2: Raleway;

//urls
$url_0: url(../img/header.jpg);
